{% extends "base.html" %}

{% load i18n %}

{% block title %}Login{% endblock %}

{% block content %}

  <div style="color: white; margin-top:100px;">
    <h1>{% trans "Login" %}</h1>

    <form class="login ui form" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="ui button secondary" type="submit">{% trans "Login" %}</button>
      <br><br>
      <a class="button secondaryAction" style="color: white; text-decoration: underline;" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <br>
      <a style="color: white; text-decoration: underline;" href="{{ signup_url }}">Create new account</a>
    </form>
  </div>

  <body class="bg-image"></body>

  <style>
      .nav {
          background-color: transparent !important;
          font-weight: bold !important;
      }
  </style>

{% endblock %}
