{% extends 'base.html' %}

{% block title %}Delete post{% endblock title %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {{mesage}}
            {% if 'warning' in message.tags %}
                <div class="ui negative message">
                    <div class="header">
                        {{message}}
                    </div>
                </div>
            {% else %}
                <div class="ui segment">
                    <h3>Delete post</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p>Are you sure you want to delete the post?</p>
                        <button type="submit" class="ui button negative">Yes</button>
                    </form>
                </div>
            {% endif %}

        {% endfor %}
    {% endif %}

{% endblock content %}