<div class="ui inverted menu nav mb-7">
    <div class="ui container">

        <a href="/" class="item">
            <h3>ConnectHub</h3>
        </a>

        {% if request.user.is_authenticated %}
        <a href="{% url 'posts:main-view' %}" class="item">
            Home
        </a>
        {% endif %}

        <div class="right menu">
            {% if request.user.is_authenticated %}

                <div class="item">
                    <form action="" method="GET">
                        <div class="ui action left icon input">
                        <input class="prompt" type="text" name='q' placeholder="search for a friend...">
                        <i class="search icon"></i>
                        <button type='submit' class="ui button">Search</button>
                        </div>
                    </form>
                </div>
                
                <div class="item">
                    <div class="ui floating dropdown button" style="background-color: #35353d; color: #fff;">
                        <img class="ui avatar image" src={{profile.avatar.url}}>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="{% url 'profiles:my-profile-view' %}" class="item">
                                View Profile
                            </a>
                            <a href="{% url 'profiles:invitations-view' %}" class="item">
                                My Invitations
                                <div class="ui red horizontal label" style="margin: 0px 0px 0px 10px;">{{invitations_num}}</div>
                            </a>
                            <a href="{% url 'profiles:profiles-list-view' %}" class="item">
                                Discover Friends
                            </a>
                        </div>
                    </div>
                </div>

                <a href="{% url 'account_logout' %}" class="ui item">
                    Logout
                </a>

            {% else %}
                <a href="{% url 'account_signup' %}" class="ui item">
                    Register
                </a>
                <a href="{% url 'account_login' %}" class="ui item">
                    Login
                </a>
            {% endif %}

        </div>

    </div>

</div>

<script>
    $(document).ready(function() {
        $('.ui.dropdown').dropdown();
    });
</script>